* {
   margin: 0;
   border: border-box;
   background-color: #000000;
   font-family: sans-serif;
}

.navbar {
   height: 60px;
   color: white;
   display: flex;
   /* background-color: #000000; */
   align-items: center;
   justify-content: space-evenly;
}

/* Logo */

.nav-logo {
   height: 50px;
   width: 130px;
   cursor: pointer;
}

.logo {
   background-image: url(Amazon-Logo.webp);
   background-size: cover;
   height: 50px;
   width: 100%;
}

/* Border */

.border {
   border: 2px solid transparent;
}

.border:hover {
   border: 2px solid #bbb;
}

/* Address box */

.nav-address {
   display: block;
   align-items: center;
   cursor: pointer;
}

.add-first {
   color: #CCCCCC;
   font-size: 0.85rem;
   margin-left: 10px;
   margin-bottom: 5px;
}

.add-second {
   color: #ffffff;
   font-size: 1rem;
   margin-left: 3px;
}

.add-icon {
   display: flex;
   margin-left: 4px;
   align-items: center;
}

/* Search Bar */

.nav-search {
   display: flex;
   width: 620px;
   height: 40px;
   border-radius: 4px;
   justify-content: space-evenly;
}

.search-select {
   background-color: #5d8d8d;
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
   width: 50px;
   cursor: pointer;
   color: #000000;
   text-align: center;
   border: none;
}

.search-input {
   width: 100%;
   font-size: 1rem;
   border: none;
   height: 38px;
   color: #ffffff;
}

.search-icon {
   width: 45px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   font-size: 1.2rem;
   color: #ffffff;
   border-bottom-right-radius: 5px;
   border-top-right-radius: 5px;
}

.nav-search:hover {
   border: 2px solid orange;
}

/* Sign In Box*/

.span {
   font-size: 0.7rem;
   cursor: pointer;
}

.nav-second {
   font-size: 0.85rem;
   font-weight: 700;
   cursor: pointer;
}

/* Cart Box */

.nav-cart i {
   font-size: 30px;
   cursor: pointer;
}

.nav-cart {
   font-size: 0.85rem;
   cursor: pointer;
   font-weight: 700;
}

/* Panel Row */

.panel {
   height: 40px;
   display: flex;
   color: white;
   align-items: center;
   justify-content: space-evenly;
}

.panel-all {
   cursor: pointer;
   display: flex;
   align-items: center;
}

.panel-all i {
   padding-right: 10px;
}

.panel-ops {
   width: 70%;
   font-size: 0.85rem;
}

.panel-ops p {
   display: inline;
   cursor: pointer;
   margin-left: 15px;
}

.panel-deals {
   cursor: pointer;
   font-size: 0.9rem;
   font-weight: 700;
}

/* hero-action = Shop Section [Banner] */

.hero-section {
   background-image: url(Amazon-Logo.webp);
   height: 550px;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: flex-end;
}

.hero-msg {
   color: #ffffff;
   margin-bottom: 25px;
   width: 80%;
   height: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 0.85rem;
   bottom: 25px;
}

.hero-msg p {
   color: #007185;
   cursor: pointer;
}

/* Individual Boxes */

.shop-section {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   background-color: #e2e7e6;
}

.box {
   height: 200px;
   width: 23%;
   padding: 20px 0px 20px;
   margin-top: 15px;
   margin-bottom: 15px;
}

.box-content {
   margin-left: 1rem;
   margin-right: 1rem;
   cursor: pointer;
}

h2 {
   color: white;
}

.box-img {
   height: 10rem;
   background-size: cover;
}

.box-content p {
   color: #007185;
   padding-top: 5px;
}

/* Footer */

.foot-panel1 {
   background-color: #007185;
   color: white;
   height: 50px;
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 0.8rem;
}

.foot-panel2 {
   background-color: #5d8d8d;
   color: white;
   height: 200px;
   display: flex;
   justify-content: space-evenly;
}

ul {
   color: #000000;
   margin-top: 20px;
   text-align: center;
   background-color: #5d8d8d;
}

ul p {
   background-color: #5d8d8d;
}

ul a {
   text-decoration: none;
   display: block;
   font-size: 0.85rem;
   background-color: #5d8d8d;
   margin-top: 10px;
   color: black;
}

.foot-panel3 {
   background-color: #007185;
   border-top: 2px solid black;
   height: 70px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.logo {
   background-image: url(Amazon-Logo.webp);
   background-size: cover;
   width: 130px;
   cursor: pointer;
   height: 50px;
}

.foot-panel4 {
   background-color: #5d8d8d;
   color: #000000;
   height: 80px;
   font-size: 0.7rem;
   text-align: center;
}

.pages {
   padding: 20px;
   justify-content: space-evenly;
   display: flex;
   font-size: 0.8rem;
}

.pages a {
   text-decoration: none;
   color: white;
}

.copyright {
   background-color: #5d8d8d;
   color: black;
   padding-top: 6px;
   font-size: 0.7rem;
   cursor: pointer;
}